@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
}

p {
  font-weight: 500;
}

h1 {
  font-weight: bold;
}
h2 {
  font-weight: 600;
}
.container {
  margin: 0 auto;
  max-width: 1670px;
  padding: 0 15px;
}
.sign-up-btn {
  padding: 12px 20px 13px 22px;
  border-radius: 8px;
}

.useCases:hover .useCases-child {
  display: block;
}
.linear-gradient {
  background: -webkit-linear-gradient(90deg, #FE6783FF 1.9%,#FFBF84FF 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-btn {
  padding: 23px 74px 24px 75px;
  @apply -md:px-8 -md:my-3 -sm:px-4 -sm:py-2.5;
}
.hero-btn-right {
  border: 1px solid #707070;
}
.step1-left-btn {
  padding: 18px 21px 17px 22px;
  @apply -md:px-8 -md:my-3 -sm:px-4 -sm:py-2.5;
}
.step1-right-btn {
  padding: 18px 38px 17px 36px;
  @apply -md:px-8 -md:my-3 -sm:px-4 -sm:py-2.5;
}
.step2-get-btn {
  padding: 22px 87px 22px 81px;
  @apply -md:px-8 -md:my-3 -sm:px-4 -sm:py-2.5;
}
.expertsAgree-bottom {
  background: url('./components/assets/img/experts-bottom.png');
  background-repeat: no-repeat;
}
.mobile-navbar {
  height: calc(100vh - 93px);
}

.magnify {
  transform: scale(2);  
}